amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}

amp-custom>
  /* any custom style goes here */
  body {
    background-color: white;
  }

  amp-img {
    background-color: gray;
    border: 1px solid black;
  }
/*responsive table*/
body{
    margin:0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table td, .table th{
    padding: 12px 15px;
    border: 1px;
    text-align: center;
    font-size: 16px;

}
.table th{
    background-color: darkblue;
    color: #fff;
}
.table tbody{
    background-color:null;
}
@media (max-width: 500px){
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
        text-align: right;

    }
    .table td::before{
        content: attr(data-label);
        padding-left: 15px;
        position: absolute;
        left: 0;
        width:50%;
        font-size: 15px;
        font-weight: bold;
        text-align: left;

    }
}